<head>
    <meta charset="utf-8">
    <title>title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" charset="utf-8" />
</head>

<body>
    <h2 class="h2">CSS Markup Examples</h2>
    <div class="pr">
        <div class="cl1">
            <div class="list-pri">
                <div><a href="/buttons">Buttons</a></div>
                <div><a href="/badges">Badges</a></div>
                <div><a href="/borders">Borders</a></div>
                <div><a href="/breadcrumbs">Breadcrumbs</a></div>
                <div><a href="/buttongroups">Buttongroups</a></div>
                <div><a href="/cards">Cards</a></div>
                <div><a href="/checkbox">Checkbox</a></div>
                <div><a href="/colors">Colors</a></div>
                <div><a href="/counters">Counters</a></div>
                <div><a href="/fonts">Icon Fonts</a></div>
                <div><a href="/forms">Forms</a></div>
                <div><a href="/grids">Grids</a></div>
                <div><a href="/images">Images</a></div>
                <div><a href="/links">Links</a></div>
                <div><a href="/lists">Lists</a></div>
                <div><a href="/menus">Menus</a></div>
                <div><a href="/messages">Messages</a></div>
                <div><a href="/modalwindows">Modalwindows</a></div>
                <div><a href="/paginator">Paginator</a></div>
                <div><a href="/popup">Popup</a></div>
                <div><a href="/progress">Progress</a></div>
                <div><a href="/sidebars">Sidebars</a></div>
                <div><a href="/sizes">Sizes</a></div>
                <div><a href="/sliders">Sliders</a></div>
                <div><a href="/stickyhdrs">Stickyhdrs</a></div>
            </div>
        </div>
    </div>
</body>