<head>
    <meta charset="utf-8">
    <title>Badges</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" charset="utf-8" />
</head>

<body>
<h2 class="h2">Badges</h2>
<hr>
<div class="bdgl-inv-pri">
    <span class="nmbr">125</span>
    <span class="lbl">Просмотров</span>
</div>

<div class="bdgr-inv-pri">
    <span class="lbl">Просмотров</span>
    <span class="nmbr">125</span>
</div>

<div class="bdgl-suc">
    <span class="nmbr">125</span>
    <span class="lbl">Просмотров</span>
</div>

<div class="bdgr-pri">
    <span class="lbl">Просмотров</span>
    <span class="nmbr">125</span>
</div>

</body>