<head>
    <meta charset="utf-8">
    <title>Borders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" charset="utf-8" />
</head>

<body>
    <h2 class="h2">Borders</h2>
    <hr>
    <div class="brd-grad-ud-pri">
        Рамка текста
    </div>
    <span class="brd-grad-rl-dng">
        Рамка текста
    </span>
    <span class="brd-grad-lr-suc">
        Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста 
    </span>
    <span class="brd-grad-du-suc">
        Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста Рамка текста 
    </span>
</body>