<head>
    <meta charset="utf-8">
    <title>Breadcrumbs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" charset="utf-8" />
</head>

<body>
    <h2 class="h2">Breadcrumbs</h2>
    <hr>
    <div class="brdcrmb-smpl">
        <span><a href="#">Главная</a></span>
        <span><a href="#">Категория1</a></span>
        <span><a href="#">Под-категория1</a></span>
        <span class="active"><a href="#">Под-под-категория1</a></span>
        <span><a href="#">Под-под-категория2</a></span>
        <span><a href="#">Под-под-категория3</a></span>
        <span><a href="#">Под-под-категория4</a></span>
        <span><a href="#">Под-под-категория5</a></span>
    </div>
    <hr>
    <div class="brdcrmb-inv-pri">
        <span><a href="#">Главная</a></span>
        <span><a href="#">Категория1</a></span>
        <span><a href="#">Под-категория1</a></span>
        <span class="active"><a href="#">Под-под-категория1</a></span>
        <span><a href="#">Под-под-категория2</a></span>
        <span><a href="#">Под-под-категория3</a></span>
        <span><a href="#">Под-под-категория4</a></span>
        <span><a href="#">Под-под-категория5</a></span>
    </div>
    <hr>
    <div class="brdcrmb-pri">
        <span><a href="#">Главная</a></span>
        <span><a href="#">Категория1</a></span>
        <span><a href="#">Под-категория1</a></span>
        <span class="active"><a href="#">Под-под-категория1</a></span>
        <span><a href="#">Под-под-категория2</a></span>
        <span><a href="#">Под-под-категория3</a></span>
        <span><a href="#">Под-под-категория4</a></span>
        <span><a href="#">Под-под-категория5</a></span>
    </div>
    <hr>
    <div class="brdcrmb-suc">
        <span>Главная</span>
        <span>Категория1</span>
        <span>Под-категория1</span>
        <span>Под-под-категория1</span>
        <span>Под-под-категория2</span>
        <span>Под-под-категория3</span>
        <span>Под-под-категория4</span>
        <span>Под-под-категория5</span>
    </div>
</body>