<head>
    <meta charset="utf-8">
    <title>Buttons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" charset="utf-8" />
</head>

<body>
    <h2 class="h2">Buttons</h2>
    <hr>
    <button class="btn-pri" type="button">btn-pri</button>
    <button class="btn-sec" type="button">btn-sec</button>
    <button class="btn-suc" type="button">btn-suc</button>
    <button class="btn-dng" type="button">btn-dng</button>
    <button class="btn-wrn" type="button">btn-wrn</button>
    <button class="btn-inf" type="button">btn-inf</button>
    <button class="btn-lgt" type="button">btn-lgt</button>
    <button class="btn-drk" type="button">btn-drk</button>
</body>