<head>
    <meta charset="utf-8">
    <title>Button groups</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" charset="utf-8" />
</head>

<body>
    <h2 class="h2">Button groups</h2>
    <hr>
    <div class="pr">
        <div class="cl1">
            <div class="bgrp-pri">
                <span>Button1</span>
                <span>Button2</span>
                <span>Button3</span>
            </div>
        </div>
    </div>
    
    <div class="pr">
        <div class="cl1">
            <div class="bgrp-suc">
                <span>Button1</span>
                <span>Button2</span>
                <span>Button3</span>
            </div>
        </div>
    </div>
        
</body>