<head>
    <meta charset="utf-8">
    <title>Cards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" charset="utf-8" />
</head>

<body>
    <h2 class="h2">Cards</h2>
    <hr>
    <div class="pr-wrp">
        <div class="cl1">
            <div class="card-pri">
                <img src="images/01.jpg">
                <div class="title">title</div>
                <div class="descr">descr descr descr descr descr descr descr descr descr descr descr descr descr descr descr descr </div>
                <button type="button">Add to cart</button>
            </div>
        </div>
        <div class="cl1">
            <div class="card-pri">
                <img src="images/01.jpg">
                <div class="title">title</div>
                <div class="descr">descr descr descr descr descr descr descr descr descr descr descr descr descr descr descr descr </div>
                <button type="button">Add to cart</button>
            </div>
        </div>
        <div class="cl1">
            <div class="card-suc">
                <img src="images/01.jpg">
                <div class="title">title</div>
                <div class="descr">descr descr descr descr descr descr descr descr descr descr descr descr descr descr descr descr </div>
                <button type="button">Add to cart</button>
            </div>
        </div>
        <div class="cl1">
            <div class="card-pri">
                <img src="images/01.jpg">
                <div class="title">title</div>
                <div class="descr">descr descr descr descr descr descr descr descr descr descr descr descr descr descr descr descr </div>
                <button type="button">Add to cart</button>
            </div>
        </div>
    </div>

</body>