<head>
    <meta charset="utf-8">
    <title>Checkbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" charset="utf-8" />
</head>

<body>
    <h2 class="h2">Checkbox</h2>
    <hr>
    <div class="pc">
        <div class="cl1">
            <span class="checked-prir">Flag icon</span>
            <span class="unchecked-prir">Flag icon</span>
        </div>
        <div class="cl1">
            <span class="checked-secl">Flag icon</span>
            <span class="unchecked-secl">Flag icon</span>
        </div>
        <div class="cl1">
            <span class="checked-sucl">Flag icon</span>
            <span class="unchecked-sucl">Flag icon</span>
        </div>
        <div class="cl1">
            <span class="checked-wrnl">Flag icon</span>
            <span class="unchecked-wrnl">Flag icon</span>
        </div>
        <div class="cl1">
            <span class="checked-dngl">Flag icon</span>
            <span class="unchecked-dngl">Flag icon</span>
        </div>
        <div class="cl1">
            <span class="checked-infl">Flag icon</span>
            <span class="unchecked-infl">Flag icon</span>
        </div>
        <div class="cl1">
            <span class="checked-lgtl">Flag icon</span>
            <span class="unchecked-lgtl">Flag icon</span>
        </div>
        <div class="cl1">
            <span class="checked-drkl">Flag icon</span>
            <span class="unchecked-drkl">Flag icon</span>
        </div>
    </div>
</body>