<head>
    <meta charset="utf-8">
    <title>Colors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" charset="utf-8" />
</head>

<body>
    <h2 class="h2">Colors</h2>
    <hr>
    <span class="clr-pri sz-lg">clr-pri</span><br>
    <span class="clr-sec sz-lg">clr-sec</span><br>
    <span class="clr-suc sz-lg">clr-suc</span><br>
    <span class="clr-dng sz-lg">clr-dng</span><br>
    <span class="clr-wrn sz-lg">clr-wrn</span><br>
    <span class="clr-inf sz-lg">clr-inf</span><br>
    <span class="clr-lgt sz-lg">clr-lgt</span><br>
    <span class="clr-drk sz-lg">clr-drk</span><br>
</body>