<head>
    <meta charset="utf-8">
    <title>Fonts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" charset="utf-8" />
</head>

<body>
    <h2 class="h2">Fonts</h2>
    <hr>

    <span class="icn1">table</span>
    <span class="icn2">&#xe001;</span>
    <span class="icn2 icn2-sun"></span>

    <span class="icn3">!</span>
    <span class="icn3">#</span>
    
    <span class="icn4">&#xf100;</span>
    



    <hr>
    <h1>Шрифты</h1>
    <hr>
    <h1>Обычный шрифт</h1>
    <br>
    <span>Обычный шрифт</span>
    <br>
    <hr>
    <br>

    <h1 class="font-roboto">Шрифт: font-roboto</h1>
    <br>
    <span class="font-roboto">Шрифт: font-roboto</span>
    <br>
    <hr>
    <br>


    <h1 class="font-Caveat">Шрифт: font-Caveat</h1>
    <br>
    <span class="font-Caveat">Шрифт: font-Caveat</span>
    <br>
    <hr>
    <br>


    <h1 class="font-Cuprum">Шрифт: font-Cuprum</h1>
    <br>
    <span class="font-Cuprum">Шрифт: font-Cuprum</span>
    <br>
    <hr>
    <br>
    
    
    <h1 class="font-Daysone">Шрифт: font-Daysone</h1>
    <br>
    <span class="font-Daysone">Шрифт: font-Daysone</span>
    <br>
    <hr>
    <br>


    <h1 class="font-Ebgaramond">Шрифт: font-Ebgaramond</h1>
    <br>
    <span class="font-Ebgaramond">Шрифт: font-Ebgaramond</span>
    <br>
    <hr>
    <br>


    <h1 class="font-Marckscript">Шрифт: font-Marckscript</h1>
    <br>
    <span class="font-Marckscript">Шрифт: font-Marckscript</span>
    <br>
    <hr>
    <br>
    

    <h1 class="font-PT_Sans-Narrow-Web-Regular">Шрифт: font-PT_Sans-Narrow-Web-Regular</h1>
    <br>
    <span class="font-PT_Sans-Narrow-Web-Regular">Шрифт: font-PT_Sans-Narrow-Web-Regular</span>
    <br>
    <hr>
    <br>
    

    <h1 class="font-RubikMonoOne-Regular">Шрифт: font-RubikMonoOne-Regular</h1>
    <br>
    <span class="font-RubikMonoOne-Regular">Шрифт: font-RubikMonoOne-Regular</span>
    <br>
    <hr>
    <br>
    

    <h1 class="font-RussoOne-Regular">Шрифт: font-RussoOne-Regular</h1>
    <br>
    <span class="font-RussoOne-Regular">Шрифт: font-RussoOne-Regular</span>
    <br>
    <hr>
    <br>
</body>