<head>
    <meta charset="utf-8">
    <title>Forms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" charset="utf-8" />
</head>

<body>
    <h2 class="h2">Forms</h2>
    <hr>

    <form action="index.php" method="post" class="form-pri">

        <input type="image" src="http://clipart-library.com/data_images/230842.png" width="100">
        <br>
        <hr>
        <br>


        <input type="reset" class="btn-pri" value="Reset">
        <br>
        <hr>
        <br>
        
        <input type="submit" class="btn-pri" value="Send">

        <div class="fctrl-fl">
            <label>
                <input type="file" name="file">
                <span>Select File</span>
            </label>
        </div>
        <br>
        <hr>
        <br>
        
        <label class="fctrl-rb">
            <input type="radio" name="rad" />
            <div class="txt">Radio button1</div>
        </label>
        <br>
        <label class="fctrl-rb">
            <input type="radio" name="rad" />
            <div class="txt">Radio button2</div>
        </label>
        <br>
        <hr>
        <br>

        <label class="fctrl-cb">
            <input type="checkbox" class="chkcls" />
            <span class="txt"></span>
            <span class="label">Text</span>
        </label>
        <br>
        <label class="fctrl-cb">
            <span class="label">Text</span>
            <input type="checkbox" class="chkcls" />
            <span class="txt"></span>
        </label>
        <br>
        <hr>
        <br>


        <div class="fctrl-btn">
            <input type="text" value="Text">
            <button type="button"><span class="icn1">table</span></button>
            <button type="button">Button</button>
        </div>

        <div class="fctrl-btn">
            <button type="button">Button</button>
            <button type="button">Button</button>
            <input type="password" value="Text">
            <button type="button">Button</button>
            <span class="icn1">table</span>
            <span class="icn1-only">table</span>
        </div>

        <div class="fctrl-btn">
            <input type="text" value="Text">
        </div>
        

        <div class="fctrl">
            <textarea>Textarea</textarea>
        </div>
        <br>
        <hr>
        <br>

        <div class="fctrl">
            <input type="text" value="Text">
        </div>
        <div class="fctrl-icn">
            <input type="text" value="Text">
            <span class="icn1">table</span>
        </div>
        <div class="fctrl-icn">
            <span class="icn1">table</span>
            <input type="text" value="Text">
        </div>
        <br>
        <hr>
        <br>

        <div class="fctrl">
            <input type="password" value="Text">
        </div>
        <div class="fctrl-icn">
            <span class="icn1">table</span>
            <input type="password" value="Text">
        </div>
        <div class="fctrl-icn">
            <input type="password" value="Text">
            <span class="icn1">table</span>
        </div>
        <br>
        <hr>
        <br>
    </form>
</body>