<head>
    <meta charset="utf-8">
    <title>Images</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" charset="utf-8" />
</head>

<body>
    <h2 class="h2">Images</h2>
    <hr>
    <div class="gal-200 modal-gal-pri">
        <span>
            <img src="images/01.jpg" title="gal1 image1">
        </span>
        <span>
            <img src="images/02.jpg" title="gal1 image2">
        </span>
        <span>
            <img src="images/03.jpg" title="gal1 image3">
        </span>
        <span>
            <img src="images/04.jpg" title="gal1 image4">
        </span>
    </div>
    <hr>
    <br><br><br><br>
    <div class="gal-200 modal-gal-pri">
        <span>
            <img src="images/04.jpg" title="gal2 image4">
        </span>
        <span>
            <img src="images/03.jpg" title="gal2 image3">
        </span>
        <span>
            <img src="images/02.jpg" title="gal2 image2">
        </span>
        <span>
            <img src="images/01.jpg" title="gal2 image1">
        </span>
    </div>
    <hr>
    <br><br><br><br>
    <div class="gal-200 modal-gal-dng">
        <span>
            <img src="images/01.jpg" title="image123">
        </span>
        <span>
            <img src="images/02.jpg">
        </span>
        <span>
            <img src="images/03.jpg">
        </span>
        <span>
            <img src="images/04.jpg">
        </span>
    </div>

</body>