<head>
    <meta charset="utf-8">
    <title>List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" charset="utf-8" />
</head>

<body>
    <h2 class="h2">List</h2>
    <hr>
    <div class="pr">
        <div class="cl4" style="border: 1px solid black;">
            <div class="list-pri">
                <div><a href="#"><i class="icn1">table</i>Item 1234 5678</a></div>
                <div><a href="#">Item 2</a></div>
                <div><a href="#">Item 3</a></div>
            </div>
        </div>
        <div class="cl8">
            
        </div>
    </div>

</body>