<head>
    <meta charset="utf-8">
    <title>Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" charset="utf-8" />
</head>

<body>
    <h2 class="h2">Menu</h2>
    <hr>
    <span class="menu-pri menu-root">
        <span><a href="#">Item1</a></span>
        <span><a href="#">Item2</a></span>
        <span>
            <a class="menu-nosel" href="#">Submenu &gt;</a>
            <span class="menu-pri">
                <span><a href="#"><i class="icn1">table</i>Item 1234 5678</a></span>
                <span><a href="#">Item 2</a></span>
                <span><a href="#">Item 3</a></span>
                <span>
                    <a class="menu-nosel" href="#">Item 4 with subitems &gt;</a>
                    <span class="menu-pri">
                        <span><a href="#">SubItem-4-1234-5678</a></span>
                        <span><a href="#">SubItem4-2</a></span>
                        <span><a href="#">SubItem-4-3</a></span>
                        <span>
                            <a class="menu-nosel" href="#">Item 5 with subitems &gt;</a>
                            <span class="menu-pri">
                                <span><a href="#">SubItem-5-1234-5678</a></span>
                                <span><a href="#">SubItem5-2</a></span>
                                <span><a href="#">SubItem-5-3</a></span>
                            </span>
                        </span>
                        <span><a href="#" class="active-pri">SubItem4-4</a></span>
                        <span><a href="#">SubItem-4-5</a></span>
                    </span>
                </span>
            </span>
        </span>
        <span><a href="#">Item3</a></span>
        <span><a href="#">Item4</a></span>
    </span>

    Content


 
</body>