<head>
    <meta charset="utf-8">
    <title>Messages</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" charset="utf-8" />
</head>

<body>
    <h2 class="h2">Messages</h2>
    <hr>
    <div class="alert-pri"><message>alert-pri</message></div>
    <div class="alert-suc"><message>alert-suc</message></div>
    <div class="alert-sec"><message>alert-sec</message></div>
    <div class="alert-dng"><message>alert-dng</message></div>
    <div class="alert-wrn"><message>alert-wrn</message></div>
    <div class="alert-inf"><message>alert-inf</message></div>
    <div class="alert-lgt"><message>alert-lgt</message></div>
    <div class="alert-drk"><message>alert-drk</message></div>
</body>