<head>
    <meta charset="utf-8">
    <title>Modal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" charset="utf-8" />
</head>

<body>
    <h2 class="h2">Modal</h2>
    <hr>
    <div class="pr">
        <div class="cl2">
            <div class="mdlc-pri">
                <input id="modal-toggle" type="checkbox">
                <label class="mbtn" for="modal-toggle">Open modal</label> 
                <label class="mbdrp" for="modal-toggle"></label>
                <div class="mcnt">
                    <div class="hdr">
                        <div class="h2">Modal title</div>
                        <label class="mcls" for="modal-toggle">&#x2715;</label>
                    </div>
                    <div class="bdy">
                        <p>Hello from inside the modal!
                            <br>Hello from inside the modal!
                            <br>Hello from inside the modal!
                            <br>Hello from inside the modal!
                            <br>Hello from inside the modal!
                            <br>Hello from inside the modal!
                        </p> 
                    </div>
                    <div class="ftr">
                        <label class="btn" for="modal-toggle">CANCEL</label>
                        <label class="btn" for="modal-toggle">OK</label>
                    </div>
                </div>
            </div>
                    
        </div>       
        <div class="cl8">
            
        </div>
    </div>
</body>