<head>
    <meta charset="utf-8">
    <title>Buttons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" charset="utf-8" />
</head>

<body>
    <h2 class="h2">Paginator</h2>
    <hr>
    <div class="pg-pri">
        <span class="pg-first">&#xf100;</span>
        <span class="pg-prv">&#xf104;</span>
        <span>1</span>
        <span class="active">2</span>
        <span>3</span>
        <span class="pg-nxt">&#xf105;</span>
        <span class="pg-end">&#xf101;</span>
        <span class="pg-find">
            <input type="text" title="page number">
            <span><a href="#">GO</a></span>
        </span>
    </div>

    <div class="pg-pri">
        <span class="pg-first">&#xf100;</span>
        <span class="pg-prv">&#xf104;</span>
        <span>1</span>
        <span class="active">2</span>
        <span>3</span>
        <span class="pg-nxt">&#xf105;</span>
        <span class="pg-end">&#xf101;</span>
    </div>

    <div class="pg-pri">
        <span class="pg-first"><a href="#">&#xf100;</a></span>
        <span class="pg-prv"><a href="#">&#xf104;</a></span>
        <span><a href="#">1</a></span>
        <span class="active"><a href="#">2</a></span>
        <span><a href="#">3</a></span>
        <span class="pg-nxt"><a href="#">&#xf105;</a></span>
        <span class="pg-end"><a href="#">&#xf101;</a></span>
    </div>

    <div class="pg-suc">
        <span class="pg-first"><a href="#">&#xf100;</a></span>
        <span class="pg-prv"><a href="#">&#xf104;</a></span>
        <span><a href="#">1</a></span>
        <span class="active"><a href="#">2</a></span>
        <span><a href="#">3</a></span>
        <span class="pg-nxt"><a href="#">&#xf105;</a></span>
        <span class="pg-end"><a href="#">&#xf101;</a></span>
        <span class="pg-find">
            <input type="text" title="page number">
            <span><a href="#">GO</a></span>
        </span>
    </div>

</body>