<head>
    <meta charset="utf-8">
    <title>Popup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" charset="utf-8" />
</head>

<body>
    <h2 class="h2">Popup</h2>
    <hr>
    <div class="popupr-pri">
        <span>Mouse Move to it / </span>
        <span class="popup">Popup text message</span>
    </div>
    <div class="popupl-suc">
        <span class="popup">Popup text message</span>
        <span>Mouse Move to it</span>
    </div>  
</body>