<head>
    <meta charset="utf-8">
    <title>Progress</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" charset="utf-8" />
</head>

<body>
    <h2 class="h2">Progress</h2>
    <hr>
    <div class="progress-circle progress-circle-pri p10">
        <span>10%</span>
        <div class="left-half-clipper">
            <div class="first50-bar"></div>
            <div class="value-bar"></div>
        </div>
    </div>

    <div class="progress-circle progress-circle-suc p20">
        <span>20%</span>
        <div class="left-half-clipper">
            <div class="first50-bar"></div>
            <div class="value-bar"></div>
        </div>
    </div>
</body>