<head>
    <meta charset="utf-8">
    <title>Sidebars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" charset="utf-8" />
</head>

<body>

    <h2 class="h2">Sidebars</h2>
    <hr>
    <div class="sdbrl-pri">
        <input id="modal-toggle-l" type="checkbox">
        <label class="mbtn" for="modal-toggle-l">Open modal Left</label> 
        <label class="mbdrp" for="modal-toggle-l"></label>
        <div class="mcnt">
            <div class="hdr">
                <div class="h2">Modal title</div>
                <label class="mcls" for="modal-toggle-l">&#xf137;</label>
            </div>
            <div class="bdy">
                <label class="btn" for="modal-toggle-l"><span class="icn1">table</span> Item1</label>
                <label class="btn" for="modal-toggle-l">Item2</label>
                <label class="btn" for="modal-toggle-l">Item3</label>
            </div>
        </div>
    </div>
                
    <hr>
    
    <div class="sdbrr-pri">
        <input id="modal-toggle-r" type="checkbox">
        <label class="mbtn" for="modal-toggle-r">Open modal Right</label> 
        <label class="mbdrp" for="modal-toggle-r"></label>
        <div class="mcnt">
            <div class="hdr">
                <label class="mcls" for="modal-toggle-r">&#xf138;</label>
                <div class="h2">Modal title</div>
            </div>
            <div class="bdy">
                <label class="btn" for="modal-toggle-r"><span class="icn1">table</span> Item1</label>
                <label class="btn" for="modal-toggle-r">Item2</label>
                <label class="btn" for="modal-toggle-r">Item3</label>
            </div>
        </div>
    </div>

</body>