<head>
    <meta charset="utf-8">
    <title>Sizes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" charset="utf-8" />
</head>

<body>
    <h2 class="h2">Sizes</h2>
    <hr>
    <span class="sz-xs">SZ-XS</span><br>
    <span class="sz-sm">SZ-SM</span><br>
    <span class="sz-md">SZ-MD</span><br>
    <span class="sz-lg">SZ-LG</span><br>
</body>