<head>
    <meta charset="utf-8">
    <title>Sliders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" charset="utf-8" />
</head>

<body>
    <h2 class="h2">Sliders</h2>
    <hr>
    <div class="pc">
        <div class="cl1">
            <div class="sldr" name="gal1">
                <div class="sld"><img></div>
                <div class="scrl"></div>
            </div>
        </div>
        <div class="cl1">
            <div class="sldr" name="gal2">
                <div class="sld"><img></div>
                <div class="scrl"></div>
            </div>
        </div>
    </div>

</body>