<head>
    <meta charset="utf-8">
    <title>Sticky headers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css" type="text/css" charset="utf-8" />
</head>

<body>
    <h2 class="h2">Sticky headers</h2>
    <hr>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    <div class="header" id="myHeader">
        <h2>My Header</h2>
    </div>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>ok<br>
    end
</body>